
@{
    ViewBag.Title = "SignIn";
}

<h2>Registrate</h2>
<br />
@using (Html.BeginForm("SignIn",
                            "Tarea",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    <p>Nombre: </p><input type="text" class="form-control" name="name" placeholder="Nombre" />
    <p>Contraseña: </p><input type="password" class="form-control" name="password" placeholder="Contraseña" />
    <p>Confirmar contraseña: </p><input type="password" class="form-control" name="password2" placeholder="Contraseña" />
    <button type="submit">Registrate</button>
}
<p>¿Ya tienes una cuenta?</p>
@Html.ActionLink("Inicia sesion", "Index", "Tarea")
